@charset "utf-8";

// Imports
@import "https://fonts.googleapis.com/css?family=Nunito:400,700";
@import "https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.14.0/css/all.min.css";

// Set your brand colors
$purple: #8a4d76;
$pink: #fa7c91;
$brown: #757763;
$beige-light: #d0d1cd;
$beige-lighter: #eff0eb;
$green: #00ac0e;
$black: #000000;

// Update Bulma's global variables
$family-sans-serif: "Nunito", sans-serif;
$grey-dark: $brown;
$grey-light: $beige-light;
$primary: $purple;
$link: $green;
$widescreen-enabled: false;
$fullhd-enabled: false;

//Modal
$modal-card-head-border-bottom: 0px;
$modal-content-width: 500px;

// Update some of Bulma's component variables
$body-background-color: $beige-lighter;
$control-border-width: 1px;
$input-border-color: transparent;
$input-shadow: none;

// Import only what you need from Bulma
@import "../node_modules/bulma/bulma.sass";

// Google button
$color_1: #fff;
$font_family_1: Roboto;
$background_color_1: #4285f4;
$background_color_2: #fff;

.google-btn {
  width: 184px;
  height: 40px;
  background-color: $background_color_1;
  border-radius: 2px;
  box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.25);
  -webkit-transition: background-color 218ms, border-color 218ms,
    box-shadow 218ms;
  transition: background-color 218ms, border-color 218ms, box-shadow 218ms;
  .google-icon-wrapper {
    position: absolute;
    margin-top: 1px;
    margin-left: 1px;
    width: 38px;
    height: 38px;
    border-radius: 2px;
    background-color: $background_color_2;
  }
  .google-icon {
    position: absolute;
    margin-top: 11px;
    margin-left: 11px;
    width: 18px;
    height: 18px;
  }
  .btn-text {
    float: right;
    margin: 10px 11px 0 0;
    color: $color_1;
    font-size: 14px;
    letter-spacing: 0.2px;
    font-family: $font_family_1;
    font-weight: 500;
  }
  &:hover {
    box-shadow: 0 0 6px #4285f4;
    cursor: pointer;
  }
  &:active {
    background: #1669f2;
  }
}